[flake8]

max-line-length = 120
indent-size = 4

exclude = 
    .git,
    __pycache__

# F403: 'import *' used; unable to detect undefined names
# F401: Imported but unused

per-file-ignores = 
    app/settings/*: F403, F401
    __init__.py: F401

